.panelGridCenter {
    margin: 200px auto;
    width: 390px;
}

.inputText{
	width: 200px;
}

.cmdLogin{
	float:right;
}
.ui-panel .ui-panel-titlebar {
    background-color:#ffbc01;
	 padding :12px;
	 height:12px;
	color:white;
}
.ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all{
	 background-color:#ffbc01;
	 padding :12px;
	 height:12px;
	 color:white;
}

.ui-panel-title{
	color:white;
}
::-webkit-input-placeholder {
   color: gray !important;
   font-sytle: italic !important;
   font-size: 12pt !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: gray !important;  
   font-style: italic !important;
   font-size: 12pt !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: gray !important;  
   font-style: italic !important;
   font-size: 12pt !important;
}

:-ms-input-placeholder {  
   color: gray !important;  
   font-style: italic !important;
   font-size: 12pt !important;
}

.footer {
   color: gray;  
   font-size: 9pt;
}

.content{
	margin: 10px !important;
}

body{
	background-image:url("../img/report_bg.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


